In [6]:
import pandas as pd

In [7]:
import os

In [8]:
os.getcwd()[:-5]

'/home/dgk/Documents/Codes/2_IDE coding/DS and Algo/'

In [9]:
xxx = os.path.join(os.getcwd()[:-5], 'FINAL450.xls')

In [10]:
df = pd.read_excel(xxx)

In [11]:
df.head(15)

,Unnamed: 0,Questions by Uncle Babbar:,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,NaN,Yellow to do it again,NaN,NaN
2,NaN,For done,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,Topic:,Problem:,Done [yes or no],NaN
8,NaN,NaN,NaN,NaN
9,Array,Reverse the array,<yes>,NaN
10,Array,Find the maximum and minimum element in an array,<yes>,NaN
11,Array,"Find the ""Kth"" max and min element of an array",<->,NaN
12,Array,"Given an array which consists of only 0, 1 and...",<yes>,NaN
13,Array,Move all the negative elements to one side of ...,<->,NaN
14,Array,Find the Union and Intersection of the two sor...,<->,NaN

In [12]:
df.columns

Index(['Unnamed: 0', 'Questions by Uncle Babbar:', 'Unnamed: 2', 'Unnamed: 3'], dtype='object')

In [13]:
df[df['Unnamed: 2'] == '<->']

,Unnamed: 0,Questions by Uncle Babbar:,Unnamed: 2,Unnamed: 3
11,Array,"Find the ""Kth"" max and min element of an array",<->,NaN
13,Array,Move all the negative elements to one side of ...,<->,NaN
14,Array,Find the Union and Intersection of the two sor...,<->,NaN
16,Array,find Largest sum contiguous Subarray [V. IMP],<->,NaN
17,Array,Minimise the maximum difference between height...,<->,NaN
...,...,...,...,...
480,Bit Manipulation,Find position of the only set bit,<->,NaN
481,Bit Manipulation,Copy set bits in a range,<->,NaN
482,Bit Manipulation,Divide two integers without using multiplicati...,<->,NaN
483,Bit Manipulation,"Calculate square of a number without using *, ...",<->,NaN
484,Bit Manipulation,Power Set,<->,NaN

In [14]:
len(df[df['Unnamed: 2'] == '<->'])

404